<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.lab4u.instruments"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="co.lab4u.instruments.LabFinder"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            
        </activity>
        <activity
            android:name="co.lab4u.instruments.LabFinderItem"
            android:label="@string/title_activity_lab_finder_item" >
        </activity>
        <activity
            android:name="co.lab4u.instruments.LabViewer"
            android:label="@string/title_activity_lab_viewer"
            android:parentActivityName="co.lab4u.instruments.LabFinder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.lab4u.instruments.LabFinder" />
        </activity>
        
        
    </application>
	    
</manifest>
